@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  margin: 0px;
  background-color: #0f172a;
}
.card:hover
{
  box-shadow: 5px 5px 20px #0ea5e9;
  /* color: rgb(226 232 240/var(--tw-text-opacity));4 */
}